.MessageDiv {
  background: rgba(255, 255, 255, 0.8) ;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.418) ;
  backdrop-filter: blur(5px) ;
  -webkit-backdrop-filter: blur(4px) ;
  overflow-y: auto;
  border-radius: 7px 5px 5px 7px;
}

.MessageDiv::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.MessageDiv::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.MessageDiv::-webkit-scrollbar-thumb {
  background: #0b93f6;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.MessageDiv::-webkit-scrollbar-thumb:hover {
  background: #0078ce;
}
.MessageDiv::-webkit-scrollbar-thumb:active {
  background: #0078ce;
}
.MessageDiv::-webkit-scrollbar-track {
  background: #525252;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.MessageDiv::-webkit-scrollbar-track:hover {
  background: #5c5c5c;
}
.MessageDiv::-webkit-scrollbar-track:active {
  background: #5c5c5c;
}
.MessageDiv::-webkit-scrollbar-corner {
  background: transparent;
}