.CardDiv {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.418)!important;
  border-radius: 10px!important;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.3s;
}
.CardDiv:hover{
     box-shadow: 0 8px 32px 0 rgba(218, 218, 218, 0.2)!important;
}
.CardImage img{
  border-radius: 10px 10px 0px 0px!important;
}

.PostCardFooterButton button{
  width: 5rem;
}

@media(max-width:768px){

}
