.PostCardImageDiv{
    width: 150px;
}
.PostCardImage{
    width: 100%;
}
.PostCardCard{
     background: rgba(255, 255, 255, 0.8)!important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.418)!important;
  backdrop-filter: blur(5px)!important;
  -webkit-backdrop-filter: blur(4px)!important;
}