.search-box {
  border: 1px solid black;
}
.search-box:focus-within {
  border: 1px solid rgb(255, 255, 255);
  outline-color: black;
}

.search-box:focus {
  outline: none !important;
}
.react-searchbox__input-wrapper {
  z-index: 1;
  margin: 0;
  border: none !important;
}
.react-searchbox__input {
  padding: 10px;
}
.react-searchbox__result {
  z-index: 1;
  font-weight: normal !important;
}
.react-searchbox__results {
  width: 89% !important;
  z-index: 1;
  padding: 10px !important;
  font-weight: normal !important;
}
@media (max-width: 768px) {
  .react-searchbox__results {
    width: 72% !important;
  }
}
