.CardDiv {
  background: rgba(255, 255, 255, 0.95)!important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.418)!important;
  border-radius: 10px!important;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.3s;
}
.CardDiv:hover{
     box-shadow: 0 8px 32px 0 rgba(218, 218, 218, 0.2)!important;
     background: rgba(255, 255, 255)!important;
}

.CardImage img{
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px!important;
}

.PlaceCardButtons button{
  color: black;
  width: 7rem;
}
@media(max-width:768px){
  .PlaceCardButtons button{
  width: 5rem;
}

}