.SinglePostLayoutImageDiv img {
  height: 30vh;
  object-fit: cover;
}
.SinglePostLayoutContentDiv img {
  width: 50%;
}
@media (max-width: 768px) {
  .SinglePostLayoutContentDiv img {
    width: 90%;
  }
}