.AddUserHeading h5 {
  font-size: 22px;
}

.AddUserForm {
  width: 60%;
}
.AddUserButtonDiv {
  text-align: left;
}
.AddUserButtonDiv {
  text-align: center;
}

@media (max-width: 768px) {
  .LoginCover {
    min-height: 35vh;
  }
  .AddUserHeading h5 {
    font-size: 15px;
  }
  .AddUserForm {
    width: 90%;
  }
}
