.AppInfoCarousalDiv {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
  width: 50%;
  border-radius: 10px!important;
  transition: 1s;
}
.AppInfoCarousalDiv:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.218);
}
.carousel-item img {
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  clear: float;
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}
.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out 0.7s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

@media (max-width: 768px) {
  .AppInfoCarousalDiv {
    width: 90%;
  }
}
