.AppInfoCarousalDiv {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
  width: 50%;
  border-radius: 7px;
  transition: 1s;
}
.AppInfoCarousalDiv:hover{
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.218);

}
.carousel-item img {
  border-radius: 7px !important;
}
.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out 0.7s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

@media (max-width: 768px) {
  .AppInfoCarousalDiv {
    width: 90%;
  }
}

