.Root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../../assets/images/traveller.jpg");
  width: 100%;
  height: 100vh;
  font-family: "Montserrat";
  background-position: center center;
  background-size: cover;
}
.Tabs{
    color: rgb(255, 255, 255);
}
.AppBar {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Indicator {
  background-color: #ffffff;
}
