.ChatText {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.MessageBoxText {
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  background: #0b93f6;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  overflow-y: auto;
}
.received .ChatText {
  background: #e5e5ea;
  color: black;
}
.MessageImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 5px;
  object-fit: cover!important;
}
