.ErrorBoxModel {
  border-radius: 7px !important;
}
.ErrorBoxContainer {
  width: 50%;
  background: rgba(255, 255, 255, 0.973);
  box-shadow: 32px rgba(0, 0, 0, 0.418);
  border-radius: 10px ;
}

@media (max-width: 768px) {
  .ErrorBoxContainer {
    width: 90%;
  }
}
