.SingleUserCover {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

.Section {
  padding: 70px 0;
  position: absolute;
  /* background-color: #ffffff; */
}
.Profile-content {
  position: relative;
}
.Owner {
  z-index: 2;
  text-align: center;
}
.Owner .Avatar {
  padding: 15px;
  max-width: 180px;
  margin: -85px auto 0;
  display: inline-block;
}
.Img-circle {
  background-color: #00000041;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
  max-width: 100%;
}
.Img-no-padding {
  padding: 0px;
}
.UserHeaderBio{
 width: 57%;
 line-height: 2;
}

@media (max-width:768px){
  .UserHeaderBio{
 width: 90%;
 line-height: 2;
}
}