.SingleUserCover {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

.Section {
  padding: 70px 0;
  position: absolute;
}
.Profile-content {
  position: relative;
}
.Owner {
  z-index: 2;
  text-align: center;
}
.Owner .Avatar {
  padding: 15px;
  max-width: 180px;
  max-height: 180px;
  margin: -85px auto 0;
  display: inline-block;
  object-fit: cover;
}
.Img-circle {
  background-color: #00000041;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
  min-width: 9rem;
  min-height: 9rem;
  max-width: 9rem;
  max-height: 9rem;
  object-fit: cover;
}
.Img-no-padding {
  padding: 0px;
}
.UserHeaderBio {
  font-size: 18px;
  width: 57%;
  line-height: 2;
}
.OtherUserButtons button {
  width: 9.9rem;
}
.UserButtons button{
  width: 12rem;
}

@media (max-width: 768px) {
  .UserHeaderBio {
    font-size: 16px;
    width: 90%;
    line-height: 1.8;
  }
}
